.photo__container {
  margin: auto;
  position: relative;
  width: fit-content;
}

@media screen and (max-width: 879px) {
  .photo__container {
    /*margin-left: 19px;
    margin-right: 19px;
    padding-left: 22px;
    padding-top: 25px;
    padding-right: 22px;
    padding-bottom: 28px;*/
  }
}
